
@font-face {
    font-family: 'Merriweather Sans';
    font-style: italic;
    font-weight: 300 800;
    font-display: swap;
    src: url(./merriweather-sans.woff2) format('woff2');
}
@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(./material-icons.woff2) format('woff2');
}
.material-symbols-outlined, .mso {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    /*font-size: 25px;*/
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}